@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Frizon';
    src: url('./Assets/fonts/Frizon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('./Assets/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  